@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*Common styles*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

img {
  max-width: 100%;
}
.container {
  box-sizing: border-box;

  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 165px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;

  background: #f6762c;
  border-radius: 5px;

  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn_small {
  width: 140px;
  height: 40px;
  font-size: 12px;
}

/*Header*/
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a.active {
  opacity: 1;
}

.header__nav a:hover {
  opacity: 0.9;
}

/*Main__welcome*/
.welcome {
  box-sizing: border-box;
  min-height: 100vh;

  margin-top: -100px;
  padding: 240px 0;

  background-image: url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome__text {
  width: 550px;
}

.welcome__subtitle {
  margin-bottom: 7px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.welcome__title {
  font-size: 58px;
}

.welcome__desc {
  margin: 40px 0;
  font-size: 18px;
  opacity: 0.7;
}

/*Main__food-list*/
.food-list{
  padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.food-list__card {
  width: 260px;

  overflow: hidden;
  text-align: center;

  background: #312F30;
  border-radius: 10px;
}

.food-list__img {
  width: 100%;
  height: 175px;
  object-fit: cover;

}

.food-list__text-wrapper {
  padding: 30px 20px;
}

.food-list__title {
  font-size: 20px;
  margin-bottom: 13px;
}

.food-list__desc {
  font-size: 16px;
  opacity: 0.7;
}

/*Main__order*/
.order {
  background: #312F30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 90px;
}

.order__img {
  max-width: 470px;
}

.order__text {
  max-width: 360px;
}

.order__title {
  margin-bottom: 25px;
  font-size: 44px;
}

.order__desc {
  margin-bottom: 15px;
  opacity: 0.7;
}

.order__price {
  color: #F6762C;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.order__price_old {
  font-size: 16px;
  text-decoration-line: line-through;

  opacity: 0.5;
}

.order__price + .order__price{
  margin-left: 1px;
}

.order .btn {
  margin-top: 10px;
}

/*Main__product*/
.product {
  padding: 100px 0;
}

.product .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product__card {
  box-sizing: border-box;

  width: 555px;
  min-width: 300px;

  padding: 60px 30px 60px 290px;

  background-color: #4b3a3a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product__card:nth-child(even){
  padding-left: 30px;
  padding-right: 290px;
}

.product__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.product__desc {
  margin-bottom: 10px;
  opacity: 0.7;
}

.product__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #F6762C;
}

.product__price + .product__price {
  margin-left: 10px;
}

.product__price_old {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.product .btn {
  margin-top: 5px;
}

.card-queen {
  background-image: url("../images/product-1.jpg");
}
.card-pizza {
  background-image: url("../images/product-2.jpg");
}
.card-burger {
  background-image: url("../images/product-3.jpg");
}
.card-papa {
  background-image: url("../images/product-4.jpg");
}

/*Main__feedback*/
.feedback {
  padding: 50px 0 200px 0;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback__text {
  margin: 0;
  max-width: 370px;
  text-align: center;
}

.feedback__text::before{
  content: url(../images/icons/quote.svg);
}

.feedback__blockquote {
  opacity: 0.7;
  margin: 30px 0;
}

.feedback__author {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.feedback__subauthor {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.7;

  display: block;
}

/*Main__download*/
.download {
  background: #312F30;
  padding: 60px 0;
}

.download .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.download__title {
  font-weight: 500;
  font-size: 40px;
}

/*Footer*/
.footer {
  padding: 120px 0;
}

.footer a {
font-size: 14px;
color: rgba(255, 255, 255, 0.8);
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s;
}

.footer .footer__title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "contacts nav socials";
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__logo {
  display: inline-block;
  width: 70px;
  margin-bottom: 20px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__link + .footer__link {
  margin-top: 10px;
}

.footer__link::before {
  width: 12px;
  height: 12px;
}

.footer__link_mail::before {
  content: url("../images/icons/mail.svg");
}

.footer__link_web::before {
  content: url("../images/icons/global.svg");
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__list-item + .footer__list-item {
  margin-top: 15px;
}

.footer__socials-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1120px) {
  .welcome__desc{
    opacity: 1;
    backdrop-filter: blur(6px);
  }
}

@media (max-width: 970px) {
  .welcome__title{
    backdrop-filter: blur(6px);
  }
}

@media (max-width: 950px) {
  .order .container{
    flex-direction: column;
    padding-right: 0;
  }

  .order__text {
    text-align: center;
  }

  .order .btn{
    margin-left: auto;
    margin-right: auto;
  }

  .footer .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "nav nav" 
      "contacts socials";
      justify-items: center;
      gap: 60px 80px;
  }

  .footer__nav{
    grid-area: nav;
  }

  .footer__list{
    gap: 100px;
  }

  .footer__contacts{
    grid-area: contacts;
    justify-self: end;
  }

  .footer__socials{
    grid-area: socials;
    align-self: center;
    justify-self: start;
  }
}

@media (max-width: 850px) {
  .footer__list{
    gap: 80px;
  }

  .feedback{
    padding-bottom: 100px;
  }

  .footer{
    padding: 80px 0;
  }
}

@media (max-width: 650px) {
  .header .btn{
    display: none;
  }

  .feedback__img{
    width: 250px;
  }

  .download__title{
    font-size: 30px;
  }

  .download{
    padding: 50px 0;
  }

  .welcome{
    padding: 150px 0 100px;
    min-height: auto;
  }

  .welcome__text{
    width: 100%;
  }

  .welcome__title{
    font-size: 40px;
  }

  .welcome__desc{
    margin: 20px 0;
  }

  .product{
    padding: 60px 0 100px;
  }
  /* .header .container{
    flex-direction: column;
    gap: 10px;
  }

  .header__list{
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .header .btn{
    display: none;
  } */
}